body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 320px;
}

.profile-image-container {
  display: flex;
  justify-content: center; /* This centers the image horizontally */
  margin-bottom: 15px;
  padding: auto;
}

.profile-image {
  object-fit: cover;
  border-radius: 10px;
}

.name-section h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 0px;
}

.name-section h2 {
  font-size: 24px;
  color: #777;
  margin-top: 0px;
  margin-bottom: 20px;
}

.name-section p {
  font-size: 16px;
  color: #555;
  margin: 8px 0;
}

.contact-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.logo {
  width: 40px;
  height: 40px;
  margin: 0 15px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.2);
}
